{% extends "frontend/base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="breadcrumbs_aree breadcrumbs_bg mb-140" style='background-image: url(/static/assets/img/bg/breadcrumbs-bg.webp);'>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumbs_text text-center">
					<h1>Account Inactive</h1>
					<ul class="d-flex justify-content-center">
						<li><a href="{% url 'home' %}">Home </a></li>
						<li> <span>//</span></li>
						<li>  PAGES</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center mb-5">
<h1>{% trans "Account Inactive" %}</h1>

<p>{% trans "This account is inactive." %}</p>
</div>
{% endblock %}
