{% extends "frontend/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <section class="how_it_works bg-gray mt-5">
        <div class="container pt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="title text-center inner pt-5">
                <h1 style="color: #522B79; font-weight: bold">
                    {% trans "Change Password Done" %}
                </h1>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="faq_block">
                <div
                  class="panel-group"
                  id="accordionGroupClosed"
                  role="tablist"
                  aria-multiselectable="true"
                >
                  
      
                  <p class="title py-2 text-center">
                    <span>{% blocktrans %}Your password is now changed.{% endblocktrans %}</span>
                  </p>
      
                  <a href="{% url 'account_login' %}"><button type="submit" class="btn2 mt-2"> Log In </button></a>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
