{% extends "frontend/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}






<div class="breadcrumbs_aree breadcrumbs_bg mb-140"
	style='background-image: url(/static/assets/img/bg/breadcrumbs-bg.webp);'>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumbs_text text-center">
					<h1>Change Password</h1>
					<ul class="d-flex justify-content-center">
						<li><a href="{% url 'home' %}">Home </a></li>
						<li> <span>//</span></li>
						<li> PAGES</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<section class="contact_page_section mb-140">
	<div class="container">
		<div class="row justify-content-between align-items-center mb-n50">
			<div class="col-lg-6 col-md-8 col-12 mx-auto mb-50">
				<img width="550" height="550" src="{% static 'assets/img/others/about-thumb.webp' %}" alt="">
			</div>
			<div class="col-lg-5 col-md-8 col-12 mx-auto mb-50">
				<div class="section_title text-center mb-60">
					<h2>Reset Password</h2>
				</div>

				<form method="post" action="{{ action_url }}">
					{% csrf_token %}
					<div class="form_input">
						{{ form.as_p }}
					</div>
					<div class="form_input_btn text-center mb-40">
						<button type="submit" class="btn btn-link" id="button2">Change Password</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>
{% endblock %}