{% extends "frontend/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}


<section class="contact_page_section mb-36">
    <div class="container mx-auto">
        <div class="flex justify-between items-center mb-12">
            <div class="w-full max-w-md mx-auto mb-12">
                <div class="text-center mb-15">
                    <h2>Set Password</h2>
                </div>
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    <div class="mb-4">
                        {{ form.as_p }}
                    </div>
                    <input type="submit" name="action" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer"
                        value="{% trans 'Set Password' %}" />
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}