{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .main-content {
            flex: 1;
        }
    </style>
</head>

<body>

    <nav class="w-full border-b">
        <div class="py-5 md:py-0 container mx-auto px-6 flex items-center justify-between">

            <div>
                <div id="menu" class="md:block lg:block hidden">
                    <ul
                        class="flex text-3xl md:text-base items-center py-10 md:flex flex-col md:flex-row justify-center fixed md:relative top-0 bottom-0 left-0 right-0 bg-white md:bg-transparent z-20">
                        <li
                            class="text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-gray-300 cursor-pointer text-base lg:text-lg pt-10 md:pt-0">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li
                            class="text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-gray-300 cursor-pointer text-base lg:text-lg pt-10 md:pt-0 md:ml-5 lg:ml-10">
                            <a href="{% url 'events' %}">Events</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li
                            class="text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-gray-300 cursor-pointer text-base lg:text-lg pt-10 md:pt-0 md:ml-5 lg:ml-10">
                            <a href="{% url 'user_events' %}">User Dashboard</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="focus:outline-none lg:text-lg lg:font-bold focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700
                hidden md:block bg-transparent transition duration-150 ease-in-out hover:bg-gray-200 rounded border
                border-indigo-700 text-indigo-700 px-4 sm:px-8 py-1 sm:py-3 text-sm">Logout</a>
            {% else %}

            <a href="{% url 'account_login' %}"
                class="focus:outline-none lg:text-lg lg:font-bold focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 hidden md:block bg-transparent transition duration-150 ease-in-out hover:bg-gray-200 rounded border border-indigo-700 text-indigo-700 px-4 sm:px-8 py-1 sm:py-3 text-sm">LOGIN</a>
            {% endif %}

        </div>
    </nav>
    <div class="main-content">
        {% block content %}

        {% endblock %}
    </div>

    <footer class="text-gray-600 body-font">
        <div class="bg-gray-100">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-500 text-sm text-center sm:text-left">© 2024
                    <a href="https://portfolio-next-nine-umber.vercel.app/" rel="noopener noreferrer"
                        class="text-gray-600 ml-1" target="_blank">Talha Jubair</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a href="https://www.facebook.com/talha.jubair.100/" class="text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/talhajubair100/" class="ml-3 text-gray-500">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                    <a href="https://github.com/talhajubair100" class="ml-3 text-gray-500">

                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M12 2C6.48 2 2 6.48 2 12c0 4.42 2.87 8.17 6.84 9.49.5.09.68-.22.68-.48 0-.24-.01-.87-.01-1.71-2.78.61-3.37-1.34-3.37-1.34-.45-1.15-1.1-1.46-1.1-1.46-.9-.62.07-.61.07-.61 1 .07 1.53 1.03 1.53 1.03.89 1.52 2.34 1.08 2.91.83.09-.65.35-1.08.63-1.33-2.22-.25-4.56-1.11-4.56-4.95 0-1.09.39-1.98 1.03-2.68-.1-.25-.45-1.27.1-2.65 0 0 .84-.27 2.75 1.02A9.56 9.56 0 0112 6.8c.85.004 1.71.115 2.51.34 1.91-1.29 2.75-1.02 2.75-1.02.55 1.38.2 2.4.1 2.65.64.7 1.03 1.59 1.03 2.68 0 3.85-2.34 4.7-4.57 4.95.36.31.68.92.68 1.85 0 1.34-.01 2.42-.01 2.75 0 .27.18.58.69.48A10.003 10.003 0 0022 12c0-5.52-4.48-10-10-10z">
                            </path>
                        </svg>
                    </a>
                </span>
            </div>
    </footer>

    <!-- sweet alert message -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% if messages %}
    {% for m in messages %}


    <script>
        // showing message is which type success or error
        {% if m.tags == 'success' %}
        Swal.fire({
            "title": "Success",
            "text": "{{ m }}",
            "icon": "success"
        })
        {% endif %}
        {% if m.tags == 'error' %}
        Swal.fire({
            "title": "Error",
            "text": "{{ m }}",
            "icon": "error"
        })
        {% endif %}

    </script>
    {% endfor %}
    {% endif %}

    </script>
</body>

</html>